.form-cadastro-usuario{
	display: flex;
    flex-direction: column;
}

.form-cadastro-usuario input[type=text],
.form-cadastro-usuario input[type=date],
.form-cadastro-usuario input[type=email]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.form-cadastro-usuario input[type=text]:focus,
.form-cadastro-usuario input[type=date]:focus{
	border: 3px solid #555;
}

.form-cadastro-usuario input[type="submit"]{
	background-color: #40E0D0;
	border: none;
	color: white;
	padding: 1% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	transform: translate(250%,0);
	box-shadow: 1px 1px 4px black;
}

.form-cadastro-usuario a{
	background-color: #00FF7F;
	border: none;
	color: white;
	padding: 1% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	transform: translate(300%,0);
	box-shadow: 1px 1px 4px black;
}

.titulo_cadastro_usuario{
	text-align: center;
	border-bottom: 1px solid black;
}