
.container{
	background-color: #708090;
	height: 100vh;
	display: grid;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	grid-template-rows: 0.5fr 2fr 0.5fr;
}

.box{
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 1px 1px 4px black;
	grid-column: 2/3;
	grid-row: 2/3;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-right: 2rem;
}

.btn-group{
   display: flex;
   justify-content: space-around;
   margin-bottom: 1rem;
}

.btn{
   display: inline-block;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   user-select: none;
   border: 1px solid transparent;
   padding: .375rem .75rem;
   font-size: 2rem;
   line-height: 1.5;
   border-radius: .25rem;
   transition: .15s;
   text-decoration: none;
   cursor: pointer;
   background-color: #4682B4;
   color: #fff;
}

.btn-icon{
   padding: 0;
   margin: 0 0 0 0; 
   background-color: #fff;
}