
/*---------------------------------			Design do Layout	------------------------------------------------*/
body{
	margin: 0px;
}

.container{
	width: 100vw;
	height: 100vh;
	background: #6C7A89;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.box{
	width: 70%;
	height: 70%;
	background: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 4px;
}

/*----------------------------------------Design dos Botões	HOME	-------------------------------------------*/

.btn-novo{
	background-color: #40E0D0;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	box-shadow: 1px 1px 4px black;
}

.btn-pesquisar{
	background-color: #00FF7F;
	border: none;
	color: white;
	padding: 5% 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	box-shadow: 1px 1px 4px black;
}

.btn-atualizar{
	background-color: #FFFF00;
	border: none;
	color: white;
	padding: 4px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	box-shadow: 1px 1px 4px black;
	margin-left: 1%;
	margin-right: 1%;
}

.btn-excluir{
	background-color: #FF0000;
	border: none;
	color: white;
	padding: 4px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	box-shadow: 1px 1px 4px black;
	margin-left: 1%;
	margin-right: 1%;
}

/*-------------------------------------		Design componentes		------------------------------------*/

.input-pesquisar{
	width: 100%;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchiconTeste.png');
	background-position: 1% 1%;
	background-repeat: no-repeat;
	padding: 1% 2% 1% 6%;
}

.tabela-pessoas{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.tabela-pessoas td, .tabela-pessoas th{
	border: 1px solid #ddd;
	padding: 8px;
}

.tabela-pessoas td{
	text-align: center;
}

.tabela-pessoas tr:nth-child(even){
	background-color: #f2f2f2;
}

.tabela-pessoas tr:hover{
	background-color: #ddd;
}

.tabela-pessoas th{
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #808080;
	color: white;
}

/*-------------------------------------		Design tela Cadastro Usuários	----------------------------------*/

.titulo_cadastro_usuario{
	text-align: center;
	border-bottom: 1px solid black;
}

.form_cadastro_usuario input[type=text],
.form_cadastro_usuario input[type=date],
.form_cadastro_usuario input[type=email]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.form_cadastro_usuario input[type=text]:focus,
.form_cadastro_usuario input[type=date]:focus{
	border: 3px solid #555;
}

.form_cadastro_usuario input[type="submit"]{
	background-color: #40E0D0;
	border: none;
	color: white;
	padding: 1% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	transform: translate(250%,0);
	box-shadow: 1px 1px 4px black;
}

.form_cadastro_usuario a{
	background-color: #00FF7F;
	border: none;
	color: white;
	padding: 1% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	transform: translate(300%,0);
	box-shadow: 1px 1px 4px black;
}