.home{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:"form"
                        "tabela";
}

.form-pesquisar{
    width: 100%;
    height:100%;
    grid-area: form;
}

.input-pesquisar{
    display: flex;
    margin: 1rem;
}

.input-pesquisar input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: .25rem;
}

.tabela-pessoas{
    overflow: scroll;
    border-collapse: collapse;
    width: 100%;
}

.tabela-pessoas table{
    grid-area: tabela;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.tabela-pessoas{
    border-collapse: collapse;
    width: 100%;
}

.tabela-pessoas table th{
    background-color:#4682B4;
    color: #fff;
}

.tabela-pessoas table, th, td{
    border: 1px solid #ddd;
    text-align: center;
}

.tabela-pessoas table th, td {
    padding: 15px;
}
